
.muave{color: #cfa9a7;
  text-shadow:1px 1px 1px #3a201f;
}
.muave1{color: #cfa9a7}
.muave2{color: #a1665e;}
.pale_blue{color: #92c2cc;}
.mute_blue{color: #5D8AA8;
  text-shadow:1px 1px 1px #3a201f
}
.hunter_green{color: #91bcab;}
.hunter_green2{color: #5f9d83;}
.hunter_green3{color: #406a59;}

.pretty{color: #50836e;
  text-shadow:1px 1px 1px #d1dbcf
}
  
.devin{color: #406a59;
  font-size: 10px}

.boxy{color: white;
  background: mute_blue;
  opacity: 30;
  }

.h1.taxi{color: white;
  text-shadow: 3px 3px 7px #d1dbcf, 3px 3px 15px #5f9d83;
}

.titles{color: #406a59; 
  font-family: Sans-Serif, Monospace, "Courier New";
  font-weight: bold;
  text-shadow:2px 2px 2px  #aaa; 
  font-size: 50px;
}

body{
  font-family: Sans-Serif, Monospace, "Courier New";
}

dev{
  font-family: Sans-Serif, Monospace, "Courier New";
}

h1 {
 font-family: Sans-Serif, Monospace, "Courier New";
}

  
a:link {
 font-weight: bold;
 text-decoration: underline;
 color: #0099cc;
 }
a:visited {
 font-weight: bold;
 text-decoration: underline;
 color: #990000;
 }
a:hover {
 font-weight: normal;
 text-decoration: none;
 color: #ffffff;
 background: #ff9933;
 }
a:active {
 font-weight: normal;
 text-decoration: none;
 color: #ffffff;
 background: #cc0000;
 }

